* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html{
  font-size: 62.5%;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
}
h1 {
  font-size: 15rem;
  color: #e3e8f1;
}
.cursor{
  position: fixed;
  width: 30px;
  height:30px;
  top: 0px;
  left:0px;
  background-color: #e3e8f1;
  border-radius:50% ;
  pointer-events: none;
}
